# Dependencies
node_modules
uploads

yarn.lock
package-lock.json

# yarn error logs
yarn-error.log
# Environment varibales
.env*
.env*.example
# Code coverage
coverage
.idea
.husky
.DS_Store
build.sh
deploy.sh
build_backup.sh
deploy_backup.sh
