# Dependencies
node_modules
uploads

yarn.lock
package-lock.json

# yarn error logs
yarn-error.log
ecosystem.config.js
# Environment varibales
.env*
.env*.example

# Code coverage
coverage

.idea

.husky

uploads
